<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="page_bg">
    <div id="main_top" class="banner">


        <table class="contentpaneopen">
            <tr>
                <td valign="top" colspan="2"><p>Добро пожаловать в сервис Секретного Санты! <br />
                    Для того чтобы стать участником игры необходимо зарегестрироваться до 26.12.2013. <br />
                    27 декабря будет проведена жеребьевка в результате которого каждый получить имя получателя на email указанный при регистрации.</p></td>
            </tr>
        </table>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
            </div>
        </div>
    </div>
    <div id="main_bg">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
